*{ padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background: rgb(218, 164, 65);
    width: 100%;
    clear: both;
    content: "";
    display: table;
}
.menu {
    width: 1200px;
    margin: auto;
}
.logo {
    width: 200px;
    height: 150px;
    float: left;
    padding: 8px;
}
#imagen1 {
    width: 130px;
    height: left;
    float: left;
    padding: 8px;
}
nav {
    float: right;
}
nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
nav ul li a::before {
    width: 100%;
    background: #ffffff;
    height: 5px;
    top: 0%;
    position:absolute;
    content:"";
}


        
    